<div class="Container">
    <div *ngIf="engine" class="rows">
        <div class="parametersPanel">
            <app-parameter-selector *ngIf="selectedConfig" [readonly]="readonly" [selectedConfig]="selectedConfig" (onConfirm)="loadData($event)"></app-parameter-selector>
    
        </div>
        <div class="columns">
            <div style="width: 100%; height: 100%;">
                <viewer [engine]="engine"></viewer>
            </div>
            <div class="actionButtons">
                <button mat-flat-button color="accent" class="w100" (click)="clear()">Clear</button>
                <button mat-flat-button color="accent" class="w100" (click)="picture()">Picture</button>
            </div>
        </div>
    </div>
</div>